<div class="container my-4 py-4">
  <h1 class="mb-4">Reach me</h1>
    <div class="social-links px-3">
      <a href="https://github.com/jaimiblank" class="social-icon" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-github"></i></a>
      <a href="https://www.linkedin.com/in/jaimilklein" class="social-icon" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-linkedin"></i></a>
      <a href="mailto:jk@jaimiklein.com" class="social-icon" target="_blank" rel="noopener noreferrer"><i class="fa-solid fa-envelope"></i></a>
    </div>
</div>
